form {
  input,
  textarea {
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    margin: 0.625rem auto;
    max-width: 100%;
    padding-top: 0.635rem;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 0.635rem;
    width: 100%;
  }

  textarea {
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }

  label {
    color: #000;
    display: block;
    margin: 0.2rem 0;
  }
}
